




nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;   
}
nav img{
    width: 80px;
}
.nav-links{
    flex: 1;
    text-align: right;
}


.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text-box p{
    margin:10px 0 40px ;
    font-size: 14px;
    color: #fff;
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}





/*-----Fcilities----*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;

}
.facilities-col p{
    padding: 0;

}




.shop{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.shop-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.shop-col img{
    width: 100%;
    border-radius: 10px;
}
.shop-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;

}
.shop-col p{
    padding: 0;

}

/*----Reviews----*/
.review{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.review-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background-color: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;

}
.review-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50px;
}
.review-col h3{
    margin: top 15px;
    text-align: left;
}
.review-col p{
    padding: 0;
}
p{
    color: #1b1515;
    /* font-size: 14px; */
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
#products-col{
    flex-basis: 31%;
    background: #907795;
    /* width: 30%; */
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: 0.5s;


}

#products-col a:hover{
    color: var(--orange);
}

#products-col:hover{
  transform: scale(1.05);
}
/* .course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;


} */

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2%;
    background: #78b1ce;
    box-shadow: var(---box-shadow);
    height: 40px;

}
.header a{
    text-decoration: none;
    color: black;
}
.header .logo{
    font-size: 2.0rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i{
    color: var(--orange);
    font-size: 2.5rem;
}

.header .navbar a{
    font-size: 2rem;
    font-weight: 600;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--orange);
}
.logo{
    letter-spacing: 18px;
}
.header .icons i{
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 0.9rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons i:hover{
    background: var(--orange);
    color: #fff;
}
#menu-btn{
    display: none;}


body{
    background: url(images/pexels-ann-h-1762851.jpg);
    background-size: 100%;
}
header{
    color: black;
    font-size: 2px;
}