#to{
    text-align: center;
}
body form{
    text-align: center;
}
.search{
    width: 300px;
    margin-left: 35%;
    height: 40px;
    border-radius: 6px;
}
.add{
    height: 40px;
    border-radius: 6px;
    color: white;
    background-color: rgb(50, 42, 42);

}
#added{
    background-color: green;
    height: 40px;
    width: 90px;
    border-radius: 6px;
    color: white;

}
.do{
    height: 30px;
    width: 400px;
    border-radius: 6px;

}
body{
    background-color: rgb(115, 62, 165);
}